html {
    min-height: 100%;
}

body {
    background-color: black;
}

#navbarColor01 {
    background-color: black;
}

.navbar-collapse {
    color: rgb(0, 204, 17);
}

.navbar-toggler {
    background-color: black;
}

.nav-link {
    background-color: black;
}

.scrape-new {
    background-color: black;
}

.clear {
    background-color: black;
}

.navebar-brand {
    color: rgb(56, 240, 0);
}